name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
        FORCE_COLOR: 1
    steps:
    - uses: earthly/actions-setup@v1
      with:
        version: v0.7.0
    - uses: actions/checkout@v3

    - name: Build
      run: earthly +build

    - name: Upload FR
      uses: actions/upload-artifact@v3
      with:
        name: mohamedlegheraba_fr
        path: build/FR/mohamedlegheraba.pdf
    - name: Upload EN
      uses: actions/upload-artifact@v3
      with:
        name: mohamedlegheraba_en
        path: build/EN/mohamedlegheraba.pdf
